/* Reset simples */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: Thin 100;
}

/* Fundo geral */
body {
  background-color: #95C9FF; /* verde água retrô */
  padding: 20px;
  font-family: "Tahoma", sans-serif;
  cursor: url("https://cur.cursors-4u.net/cursors/cur-2/cur113.cur"), auto;

}

/* Cabeçalho */
header {
  background: #000080; /* azul escuro clássico */
  color: white;
  padding: 8px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  box-shadow:
    inset -2px -2px 0 #ffffff,
    inset 2px 2px 0 #000000;
}

nav a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-family: inherit;
}

/* Seções */
section {
  background: #c0c0c0; /* cinza Windows 95 */
  padding: 20px;
  margin: 20px 0;
  border: 2px solid black;
  box-shadow:
    inset -2px -2px 0 #ffffff,
    inset 2px 2px 0 #000000; /* efeito 3D */
}

.foto-perfil {
  width: 280px;
  background: #c0c0c0;
  padding: 8px;
  margin-bottom: 15px;
  border: 2px solid #000;
  box-shadow: inset -3px -3px 0 #000, inset 3px 3px 0 #fff;
}

h2 {
  background: #000080;
  color: white;
  padding: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid black;
}
